<!DOCTYPE html>
<html>
<head>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="main-nav">

    <a class="navbar-brand" href="#">Osborn Snowflake Solution</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${module == 'home' ? 'active' : ''}">
                <a class="nav-link" href="#" th:href="@{/}">Orders</a>
            </li>
            <li class="nav-item" th:classappend="${module == 'customers' ? 'active' : ''}">
                <a class="nav-link" href="#" th:href="@{/customers}">Customers</a>
            </li>
            <li class="nav-item" th:classappend="${module == 'plot' ? 'active' : ''}">
                <a class="nav-link" href="#" th:href="@{/plot}">Plot</a>
            </li>
        </ul>
        <!-- ml-auto still works just fine-->
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
            <a class="nav-link active text-nowrap" aria-current="page" href="#">
                <div class="text-nowrap">
                    <span>Hello</span>
                    <span sec:authentication="principal.firstName"></span>
                    <span class="fw-lighter">(<span sec:authentication="principal.emailAddress"></span>)</span>
                </div>
            </a>
            <a sec:authorize="isAuthenticated()" class="nav-link" href="logout" tabindex="-1" aria-disabled="true">Logout</a>
            <a sec:authorize="!isAuthenticated()" class="nav-link disabled" href="#" tabindex="-1"
               aria-disabled="true">Logout</a>
        </div>
    </div>
</nav>
</body>
</html>